
$codeLang: 'kt' 'md' !default;



.line-number {
    color: var(--c-text);
}

.token.punctuation {
    color: var(--c-text);
}



.theme-default-content pre code {
    color: #F77D26 !important;
}

.token.string {
    color: #F6661E;
}

.token.number {
    color: #F77D26;
}

.token.function {
    color: #1D8991;
}

.token.keyword {
    color: #DA103F;
}

.token.property {
    color: #ebac4d;
}




html.dark .theme-default-content pre code {
    color: #F09383 !important;
}

html.dark .token.string {
    color: #FAB795;
}

html.dark .token.number {
    color: #FAC29A;
}

html.dark .token.function {
    color: #25B2BC;
}

html.dark .token.keyword {
    color: #E95678;
}

html.dark .token.interpolation.variable {
    color: #E95678;
}

html.dark .token.annotation.builtin {
    color: #B877DB;
}