
:root {
	--vp-c-brand-1: #F43E5C;
	--vp-c-brand-2: #d3344f;

	--vp-button-brand-bg: var(--vp-c-brand-dark);
	--vp-button-alt-bg: #fff;
	--vp-button-alt-border: #f9cbbe;

	--vp-code-bg: #ffffff88;

	--vp-c-brand-light: #E84A72;
	--vp-c-brand-lighter: #e36283;
	--vp-c-brand-dark: #d3344f;
	--vp-c-brand-darker: #972538;

	--vp-c-bg: #fce9e4;


	 --vp-c-border: #F9CBBE;

	// --c-bg: #fce9e4;

	// --c-text: #1A1C23;

	// --code-bg-color: #FDF0ED;

	// --c-tip: #1EB980;

	// --c-tip-bg: #FADAD1;

	// --c-details-bg: var(--c-tip-bg);
}

.dark {
	--vp-c-bg: #1e1e20;

	--vp-code-bg: #ffffff11;

	--vp-c-border: var(--vp-c-brand);

	--vp-button-alt-bg: #e36283;
	--vp-button-alt-border: #d3344f;


}